.img_container {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: hsl(211, 19%, 24%);
  display: flex;
  justify-content: center;
  align-item: center;
}
.title {
  color: white;
  margin: 2rem 0 1rem 0;
}
.text {
  color: hsl(217, 12%, 63%);
  margin-bottom: 1.25rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  cursor: pointer;
}
.rating_container {
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: hsl(211, 19%, 24%);
  display: flex;
  justify-content: center;
  align-item: center;
  color: hsl(217, 12%, 63%);
  font-weight: 700;
}
.rating_container.active {
  color: white;
  background-color: hsl(216, 12%, 54%);
}
.rating_container:hover {
  color: white;
  background-color: hsl(25, 97%, 53%);
}
.submit_btn {
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  outline: 0px;
  width: 100%;
  padding: 12px 0;
  background-color: hsl(25, 97%, 53%);
  color: white;
  border-radius: 25px;
  letter-spacing: 1.5px;
  font-family: inherit;
  font-weight: 700;
}
.submit_btn:active {
  background-color: white;
  color: hsl(25, 97%, 53%);
}
