* {
  box-sizing: border box;
  padding: 0;
  margin: 0;
  align-items: center;
}

body {
  min-height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-item: center;
  font-family: "overpass", sans-serif;
}
